#define IDR_MENU 10000
#define IDM_FILE 10001
#define IDM_FILE_OPENMOD 10003
#define IDM_FILE_QUIT 10002
#define IDM_GAME_INV 10019
#define IDM_GAME_SAVE 10005
#define IDM_GAME_LOAD 10004
#define IDM_FONT 10008
#define IDM_BKG_COLOR 10017
#define IDM_OPEN_LAST 10014
#define IDM_HELP 10009
#define IDM_ABOUT 10010
#define IDM_MODULEINFO 10011
#define IDM_DEBUG 10012
#define IDM_DBG_TELEPORT 10013
#define IDM_DBG_SPAWN 10016
#define IDM_DBG_LISTOBJ 10015
#define IDM_DBG_LIST_ROOMS 10018
#define IDD_DLG 1000
#define IDC_INFO 1045
#define IDC_WIND 1001
#define IDC_DISPLAY 1002
#define IDC_COMMAND 1003
#define IDD_ABOUT 2100
#define IDC_ABOUT 2101
#define IDD_DBG_TELEPORT 8000
#define IDC_DBG_TELEPORT_ROOM 8002
#define IDD_DBG_SPAWN 8010
#define IDC_SPAWN_ID 8013
#define IDD_AMOUNT 2200
#define IDC_EDIT_AMOUNT 2201
#define IDC_AMOUNT_ALL 2202
#define IDD_STRING 2300
#define IDC_EDT_STRING 2301
#define IDD_VIEW_INV 2400
#define IDC_VIEW_INV 2401
#define IDD_NAVIGATION 2600
#define IDC_CENTER 2611
#define IDC_INV 2601
#define IDC_NORTHWEST 2602
#define IDC_SOUTHWEST 2603
#define IDC_NORTHEAST 2604
#define IDC_DOWN 2605
#define IDC_UP 2606
#define IDC_SOUTHEAST 2607
#define IDC_WEST 2608
#define IDC_EAST 2609
#define IDC_SOUTH 2610
#define IDC_NORTH 2612
#define IDD_NUMBER 2500
#define IDC_EDT_NUMBER 2501
#define IDR_VERSION 1
#define IDI_HLA 155
#define ID_ACCEL 1
IDR_MENU MENUEX
BEGIN
  POPUP "&File",IDM_FILE
  BEGIN
    MENUITEM "Open Module",IDM_FILE_OPENMOD
    MENUITEM "",,0x00000800
    MENUITEM "&Quit\tAlt+F4",IDM_FILE_QUIT
  END
  POPUP "&Game",10006
  BEGIN
    MENUITEM "&Inventory",IDM_GAME_INV
    MENUITEM "",,0x00000800
    MENUITEM "Save",IDM_GAME_SAVE
    MENUITEM "Load",IDM_GAME_LOAD
  END
  POPUP "&Options",10007
  BEGIN
    MENUITEM "&Font...",IDM_FONT
    MENUITEM "&Background Color",IDM_BKG_COLOR
    MENUITEM "&Open Last Mod",IDM_OPEN_LAST
  END
  POPUP "&Help",IDM_HELP
  BEGIN
    MENUITEM "About Arayna",IDM_ABOUT
    MENUITEM "",,0x00000800
    MENUITEM "Module Info",IDM_MODULEINFO
  END
  POPUP "&Debug",IDM_DEBUG
  BEGIN
    MENUITEM "Teleport...",IDM_DBG_TELEPORT
    MENUITEM "Spawn",IDM_DBG_SPAWN
    MENUITEM "",,0x00000800
    MENUITEM "List Objects",IDM_DBG_LISTOBJ
    MENUITEM "List Rooms",IDM_DBG_LIST_ROOMS
  END
END
IDD_DLG DIALOGEX 5,5,288,227
FONT 8,"Courier New",0,0
CLASS "MAINCLASS"
MENU IDR_MENU
STYLE 0x10CF0800
BEGIN
  CONTROL "",IDC_INFO,"Edit",0x50000000,0,0,288,14,0x00000201
  CONTROL "",IDC_WIND,"RichEdit20A",0x51210144,0,13,290,175,0x00000200
  CONTROL "",IDC_DISPLAY,"ListBox",0x50310141,0,188,184,41,0x00004200
  CONTROL "",IDC_COMMAND,"ListBox",0x50210141,183,188,106,41,0x00004200
END
IDD_ABOUT DIALOGEX 4,4,131,111
FONT 10,"MS Sans Serif",0,0
STYLE 0x10CF0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_ABOUT,"Edit",0x50010844,0,0,131,111,0x00000200
END
IDD_DBG_TELEPORT DIALOGEX 6,6,173,16
CAPTION "Teleport"
FONT 10,"MS Sans Serif",0,0
STYLE 0x10CB0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "Room ID:",0,"Static",0x50000000,1,3,30,11
  CONTROL "",IDC_DBG_TELEPORT_ROOM,"Edit",0x50010000,33,1,108,12,0x00000200
  CONTROL "GO",1,"Button",0x50010000,148,1,21,12
END
IDD_DBG_SPAWN DIALOGEX 6,5,72,35
CAPTION "Spawn"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10CF0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "ID",0,"Static",0x50000000,2,3,12,9
  CONTROL "",IDC_SPAWN_ID,"Edit",0x50010000,16,1,54,13,0x00000200
  CONTROL "Spawn",1,"Button",0x50010000,0,16,70,17
END
IDD_AMOUNT DIALOGEX 6,6,57,32
CAPTION "How Many?"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10CF0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_EDIT_AMOUNT,"Edit",0x50012000,2,1,54,11,0x00000200
  CONTROL "ALL",IDC_AMOUNT_ALL,"Button",0x50010000,2,16,24,13
  CONTROL "OK",1,"Button",0x50010000,32,16,24,13
END
IDD_STRING DIALOGEX 6,6,194,19
FONT 8,"MS Sans Serif",0,0
STYLE 0x10CB0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_EDT_STRING,"Edit",0x50010000,2,1,188,13,0x00000200
END
IDD_VIEW_INV DIALOGEX 6,6,71,155
CAPTION "Inventory"
FONT 8,"MS Sans Serif",0,0
STYLE 0x00CC1004
EXSTYLE 0x00000088
BEGIN
  CONTROL "",IDC_VIEW_INV,"ListBox",0x50210141,0,0,74,157
END
IDD_NAVIGATION DIALOGEX 6,5,70,38
CAPTION "Controls"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C00000
EXSTYLE 0x00000080
BEGIN
  CONTROL ".",IDC_CENTER,"Button",0x50010000,18,14,16,11
  CONTROL "INV",IDC_INV,"Button",0x50011003,54,27,16,11
  CONTROL "NW",IDC_NORTHWEST,"Button",0x58010000,0,1,16,11
  CONTROL "SW",IDC_SOUTHWEST,"Button",0x58010000,0,27,16,11
  CONTROL "NE",IDC_NORTHEAST,"Button",0x58010000,36,1,16,11
  CONTROL "D",IDC_DOWN,"Button",0x58010000,54,14,16,11
  CONTROL "U",IDC_UP,"Button",0x58010000,54,1,16,11
  CONTROL "SE",IDC_SOUTHEAST,"Button",0x58010000,36,27,16,11
  CONTROL "W",IDC_WEST,"Button",0x58010000,0,14,16,11
  CONTROL "E",IDC_EAST,"Button",0x58010000,36,14,16,11
  CONTROL "S",IDC_SOUTH,"Button",0x58010000,18,27,16,11
  CONTROL "N",IDC_NORTH,"Button",0x58010000,18,1,16,11
END
IDD_NUMBER DIALOGEX 6,6,196,20
FONT 8,"MS Sans Serif",0,0
STYLE 0x10CB0000
EXSTYLE 0x00000080
BEGIN
  CONTROL "",IDC_EDT_NUMBER,"Edit",0x50012000,2,1,188,13,0x00000200
END
IDR_VERSION VERSIONINFO
FILEVERSION 0,94,0,0
PRODUCTVERSION 0,94,0,0
FILEOS 0x00000004
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "0.94.00\0"
      VALUE "ProductVersion", "0.94.00\0"
      VALUE "CompanyName", "Sevag Krikorian\0"
      VALUE "FileDescription", "IF game scripting engine\0"
      VALUE "InternalName", "arayna\0"
      VALUE "LegalCopyright", "2010\0"
      VALUE "OriginalFilename", "Arayna.exe\0"
      VALUE "ProductName", "Arayna\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END
IDI_HLA ICON DISCARDABLE "res/HLA.ICO"
ID_ACCEL ACCELERATORS
BEGIN
  57,IDM_GAME_LOAD,VIRTKEY,CONTROL,NOINVERT
END
